# Application
APP_VERSION=1.0.0

# Server Settings
BROKER_PORT=8080
REDIS_PORT=6379
DATABASE_PORT=5432
FRONTEND_URL=http://localhost/

# JWT Settings
JWT_EXPIRY=10m
JWT_ISSUER=broker-service

# File paths and connection strings
PLUGIN_DIRECTORY=./plugins
DATABASE_PATH=postgres://broker:broker123@hotelhub-postgres:5432/broker_db?sslmode=disable

# Database configuration
POSTGRES_USER=broker
POSTGRES_PASSWORD=broker123
POSTGRES_DB=broker_db
