# Compiled binaries and output of several build tools shall be ignored.
*.exe
*.exe~
*.dll
*.so
*.dylib

# Environment files contain information that should not be shared.
# An example file is provided as a template and should be used instead.
.env

# Editor configuration files are personal per developer and should not be committed.
.vscode/

# Some operating systems create hidden files that should not be committed.
# DS_Store files are created by macOS, and Thumbs.db files are created by Windows.
.DS_Store
Thumbs.db
